#!/usr/bin/make -f
PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@ --with python2

override_dh_fixperms:
	dh_fixperms
	rm -f $(TMP)/usr/share/pyshared/Editra/COPYING
	rm -f $(TMP)/usr/share/pyshared/Editra/pixmaps/theme/Tango/COPYING
	find $(TMP)/usr/share/pyshared/Editra -type d -empty -delete
	find $(TMP)/usr/lib/python2.6/dist-packages/Editra -type d -empty -delete
	find . -name '*\.egg' -delete
